%div
	%center
		%h2
			Pics de
			=@user.username
		%br
		= image_tag @user.avatar(:original), class: 'avatarIndex'
		-if user_signed_in?
			-if current_user.id != @user.id
				-if current_user_is_following(current_user.id, @user.id)
					= link_to "Dejar de seguir", (unfollow_user_path @user.username), remote: true, class: "btn unfollow-button", id: "follow-button", method: :post
				-else
					= link_to "Seguir", (follow_user_path @user.username), remote: true, class: "btn follow-button", id: "follow-button", method: :post
		%br
		%span#seguidores
			="Seguidores #{@user.followers.count}"
		%br
		%span#seguidos
			="Seguidos #{@user.following.count}"

#pics.transitions-enabled
	.imagenIndex
		-@picss.each do |pic| 
			-if pic.user_id == @id
				.box.panel.panel-default
					= link_to (image_tag pic.image.url), pic 
					.titulo= link_to pic.title, pic
