%html
%head
  %title PicSocial
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application'
  = javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.min.js'
  = csrf_meta_tags

%body
  %nav.navbar.navbar-inverse
    .container
      .navbar-brand 
        = link_to "PicSocial", root_path

      -if user_signed_in?
        %ul.nav.navbar-nav.navbar-left
          %li 
            = link_to "Agregar pic", new_pic_path
          %li 
            = link_to "Configuración", edit_user_registration_path
          %li
            = link_to "Ver mis pics", users_index_path(:user => current_user.username)
          %li
            = link_to "Pics de usuarios seguidos", users_follows_path
          
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to current_user.username, users_index_path(:user => current_user.username)
          %li
            = link_to users_index_path(:user => current_user.username), class: 'avatar-container' do
              .avatar{ style: "background-image: url(#{current_user.avatar(:original)})" }
          %li 
            = link_to "Salir", destroy_user_session_path, method: :delete
          

      -else
        %ul.nav.navbar-nav.navbar-left
          %li 
            = link_to "Unirse", new_user_registration_path
          %li 
            = link_to "Iniciar sesión", new_user_session_path
      = render "layouts/search_bar"

  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: "alert alert-info"
    
    =yield
